In [1]:
import pyterrier as pt

if not pt.started():
  pt.init()

C:\Users\Fortu\AppData\Local\Temp\ipykernel_26680\2060694631.py:3: DeprecationWarning: Call to deprecated function (or staticmethod) started. (use pt.java.started() instead) -- Deprecated since version 0.11.0.
  if not pt.started():
Java started and loaded: pyterrier.java, pyterrier.terrier.java [version=5.10 (build: craigm 2024-08-22 17:33), helper_version=0.0.8]
C:\Users\Fortu\AppData\Local\Temp\ipykernel_26680\2060694631.py:4: DeprecationWarning: Call to deprecated method pt.init(). Deprecated since version 0.11.0.
java is now started automatically with default settings. To force initialisation early, run:
pt.java.init() # optional, forces java initialisation
  pt.init()

In [2]:
import pandas as pd

In [9]:
# Define the documents
documents = [
  "Some years ago - never mind how long precisely - having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world.",
  "It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair.",
  "When he was nearly thirteen, my brother Jem got his arm badly broken at the elbow. When it healed, and Jem's fears of never being able to play football were assuaged, he was seldom self-conscious about his injury. His left arm was somewhat shorter than his right; when he stood or walked, the back of his hand was at right angles to his body, his thumb parallel to his thigh. He couldn't have cared less, so long as he could pass and punt."
]

# Create a dataframe from the documents
df = pd.DataFrame({
    'docno': ['1', '2', '3'],
    'url': ['url1', 'url2', 'url3'],
    'text': documents
})
print(df)

  docno   url                                               text
0     1  url1  Some years ago - never mind how long precisely...
1     2  url2  It was the best of times, it was the worst of ...
2     3  url3  When he was nearly thirteen, my brother Jem go...

In [13]:
# Index the documents
indexer = pt.DFIndexer("c:/Users/Fortu/Downloads/Aut2024/Info 376/index")
indexref = indexer.index(df["text"], df["docno"])

# Create the index
index = pt.IndexFactory.of(indexref)
print(index.getCollectionStatistics().toString())

C:\Users\Fortu\AppData\Local\Temp\ipykernel_26680\3923159418.py:2: DeprecationWarning: Call to deprecated class DFIndexer. (use pt.terrier.IterDictIndexer().index(dataframe.to_dict(orient='records')) instead) -- Deprecated since version 0.11.0.
  indexer = pt.DFIndexer("c:/Users/Fortu/Downloads/Aut2024/Info 376/index")

Number of documents: 3
Number of terms: 67
Number of postings: 68
Number of fields: 0
Number of tokens: 76
Field names: []
Positions:   false

In [14]:
files = pt.io.find_files('./nyt/nyt')
indexer = pt.TRECCollectionIndexer('c:/Users/Fortu/Downloads/Aut2024/Info 376/nyt_index', verbose=True, blocks=False)
indexref = indexer.index(files)
index = pt.IndexFactory.of(indexref)
print(index.getCollectionStatistics().toString())

3files [00:01,  1.81files/s]

Number of documents: 722
Number of terms: 19891
Number of postings: 215372
Number of fields: 0
Number of tokens: 357606
Field names: []
Positions:   false

In [16]:
queries = pd.DataFrame([["q1","explosive"]], columns=["qid","query"])

In [24]:
index = pt.IndexFactory.of("c:/Users/Fortu/Downloads/Aut2024/Info 376/nyt_index/data.properties")
tf_idf = pt.BatchRetrieve(index, wmodel="TF_IDF")

print("data for TFIDF:")
tf_idf.transform(queries).head(10)

data for TFIDF:

C:\Users\Fortu\AppData\Local\Temp\ipykernel_26680\2067081987.py:2: DeprecationWarning: Call to deprecated class BatchRetrieve. (use pt.terrier.Retriever() instead) -- Deprecated since version 0.11.0.
  tf_idf = pt.BatchRetrieve(index, wmodel="TF_IDF")

  qid  docid             docno  rank     score      query
0  q1    195  NYT20000131.0004     0  5.367714  explosive
1  q1    192  NYT20000131.0001     1  4.618058  explosive
2  q1    441  NYT20000131.0259     2  3.783786  explosive
3  q1    714  NYT20000131.0551     3  3.346567  explosive
4  q1    145  NYT20000130.0162     4  3.204738  explosive
5  q1    164  NYT20000130.0185     5  2.827687  explosive
6  q1    104  NYT20000130.0119     6  2.804665  explosive
7  q1     53  NYT20000130.0059     7  2.779521  explosive
8  q1    351  NYT20000131.0166     8  2.687949  explosive
9  q1    358  NYT20000131.0173     9  2.687949  explosive

In [23]:
bm25 = pt.BatchRetrieve(index, wmodel="BM25")

print("data for BM25: ")
bm25.transform(queries).head(10)

C:\Users\Fortu\AppData\Local\Temp\ipykernel_26680\1840931414.py:1: DeprecationWarning: Call to deprecated class BatchRetrieve. (use pt.terrier.Retriever() instead) -- Deprecated since version 0.11.0.
  bm25 = pt.BatchRetrieve(index, wmodel="BM25")

data for BM25:

  qid  docid             docno  rank     score      query
0  q1    195  NYT20000131.0004     0  9.548229  explosive
1  q1    192  NYT20000131.0001     1  8.214721  explosive
2  q1    441  NYT20000131.0259     2  6.730696  explosive
3  q1    714  NYT20000131.0551     3  5.952960  explosive
4  q1    145  NYT20000130.0162     4  5.700672  explosive
5  q1    164  NYT20000130.0185     5  5.029963  explosive
6  q1    104  NYT20000130.0119     6  4.989011  explosive
7  q1     53  NYT20000130.0059     7  4.944284  explosive
8  q1    351  NYT20000131.0166     8  4.781394  explosive
9  q1    358  NYT20000131.0173     9  4.781394  explosive