In [1]:
import pyterrier as pt
if not pt.started():
  pt.init()

C:\Users\Fortu\AppData\Local\Temp\ipykernel_66760\1742394333.py:2: DeprecationWarning: Call to deprecated function (or staticmethod) started. (use pt.java.started() instead) -- Deprecated since version 0.11.0.
  if not pt.started():
Java started and loaded: pyterrier.java, pyterrier.terrier.java [version=5.10 (build: craigm 2024-08-22 17:33), helper_version=0.0.8]
C:\Users\Fortu\AppData\Local\Temp\ipykernel_66760\1742394333.py:3: DeprecationWarning: Call to deprecated method pt.init(). Deprecated since version 0.11.0.
java is now started automatically with default settings. To force initialisation early, run:
pt.java.init() # optional, forces java initialisation
  pt.init()

In [5]:
files = pt.io.find_files("c:/Users/Fortu/Downloads/Aut2024/Info 376/paulgraham.com")
indexer = pt.FilesIndexer("c:/Users/Fortu/Downloads/Aut2024/Info 376/gp_index",
                          meta={"docno":20,"filename":1024,"title":1024},meta_tags={"title":"title"})
indexref = indexer.index(files)
index = pt.IndexFactory.of(indexref)
print (index.getCollectionStatistics().toString())

Number of documents: 73
Number of terms: 5494
Number of postings: 28704
Number of fields: 0
Number of tokens: 70467
Field names: []
Positions:   false

In [6]:
print(index.getMetaIndex().getKeys())

['docno', 'filename', 'title']

In [7]:
print(index.getMetaIndex().getItem("filename", 15))
print(index.getMetaIndex().getItem("title", 15))

c:/Users/Fortu/Downloads/Aut2024/Info 376/paulgraham.com\paulgraham.com\boss.html
You Weren't Meant to Have a Boss

In [8]:
import pandas as pd
queries = pd.DataFrame([["q1","airbnb"], ["q2","addiction"]], columns=["qid","query"])
queries

  qid      query
0  q1     airbnb
1  q2  addiction

In [10]:
index = pt.IndexFactory.of("c:/Users/Fortu/Downloads/Aut2024/Info 376/gp_index/data.properties")
tf_idf = pt.BatchRetrieve(index, wmodel="TF_IDF")
tf_idf.transform(queries)

C:\Users\Fortu\AppData\Local\Temp\ipykernel_66760\263200715.py:2: DeprecationWarning: Call to deprecated class BatchRetrieve. (use pt.terrier.Retriever() instead) -- Deprecated since version 0.11.0.
  tf_idf = pt.BatchRetrieve(index, wmodel="TF_IDF")

  qid  docid docno  rank     score      query
0  q1      5    d6     0  4.500498     airbnb
1  q1     25   d26     1  3.066694     airbnb
2  q1      9   d10     2  2.932703     airbnb
3  q1     13   d14     3  2.831951     airbnb
4  q1     12   d13     4  1.399399     airbnb
5  q2      4    d5     0  4.825277  addiction
6  q2     63   d64     1  3.921207  addiction
7  q2     29   d30     2  3.174706  addiction
8  q2     64   d65     3  2.844935  addiction